.dz-edit {
    display    : none;
    position   : absolute;
    background : #E1E1E1;
    width      : 25px;
    height     : 25px;
    left       : 0;
    font-size  : 0;
    cursor     : pointer !important;
    top        : 0;
}
.dz-edit:hover:after {
    color: #0082ba;
}
.dz-edit:after {
    text-align  : center;
    display     : block;
    color       : #737c81;
    font-family : FontAwesome;
    font-size   : 18px;
    line-height : 25px;
    content     : "\f040";
}

.dropzone .dz-preview:hover .dz-edit {
    display : block;
}
